<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/teamAccept.css">
</head>
<body>
    <section class="change-login">
        <div class="login">
            <img src="/static/Vector 1.svg" alt="" class="background-img">
            <div class="login2">
                <p class="main-text">Вы отправили заявку на вступление в команду!</p>
                <p class="accept-text">Дождитесь решения капитана команды “Барбариски”. <br> Ответ будет выслан вам на почту.</p>
                <a href="{% url 'xakaton:xaki' %}" class="btn-next">Продолжить</a>
            </div>
        </div>
    </section>
</body>
</html>