<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <link rel="stylesheet" href="/static/addMailCorrect.css">
</head>
<body>
    <section class="add-mail">
        <div class="mail">
            <img src="/static/Vector 1.svg" alt="" class="background-img">
            <div class="mail2">
                <p class="main-text">Введите код подтверждения из уведомления</p>
                <label for="" class="label-input">
                    <input class="input" type="mail" id="mail-input" placeholder="Введите код " required>
                </label>
                <a href="#" class="btn-next">Продолжить</a>
            </div>
        </div>
    </section>
</body>
</html>