<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="adminAdd.css">
</head>
<body>
    
    <section>
        <h2 class="main-text-up">
            Создание хакатона
        </h2>
        <div class="main">
            <div class="main-create-team">
                <form action="" class="create-team">
                    <div class="form-name-team">
                        <p class="form-name">Название хакатона</p>
                        <label for="name"><input class="input" type="name" id="name" placeholder="Введите название хакатона" required></label>
                    </div>
                    <div class="form-name-team">
                        <p class="form-name">Дата проведения</p>
                        <label for="name"><input class="input" type="name" id="name" placeholder="Введите дату проведения" required></label>
                    </div>
                    <div class="form-name-team">
                        <p class="form-name">Формат проведения</p>
                        <label for="name"><input class="input" type="name" id="name" placeholder="Введите формат проведения" required></label>
                    </div>
                    <div class="form-name-team">
                        <p class="form-name">Призовой фонд</p>
                        <label for="name"><input class="input" type="name" id="name" placeholder="Введите призовой фонд" required></label>
                    </div>
                    <div class="form-name-team">
                        <p class="form-name">Загрузить фото</p>
                        <label for="photo"><input class="input" type="file" id="photo" accept="image/*" required></label>
                    </div>
                    
                </form>
                
                <div class="main-save">
                    <button class="main-button-save">Сохранить хакатон</button>
                </div>
            </div>
            <div class="main-about-team">
                <div class="main-about-textarea">
                    <p class="textarea-text">Немного о хакатоне:</p>
                    <label for="comments"><textarea class="comment-input" name="comments" id="comments" required></textarea></label>
                </div>
            </div>
        </div>  
    </section>
   
</body>
</html>