<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profileFriends.css">
</head>
<body>
    <header class="header">
        <div class="nav-items">
            <img src="photos/LOGO.svg" alt="" class="logo">
            <a href="#" class="nav-link-project1">О проекте</a>
        </div>
        <button class="menu-toggle">Меню</button>
        <nav class="desktop-nav">
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Хакатоны</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Команды</a></li>
                <li class="nav-item"><a href="#" class="nav-link-project2">О проекте</a></li> 
                <li class="nav-item-link"><a href="#" class="nav-link"><img src="photos/Group 89.svg" alt="" class="nav-profile-img"></a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="main">
            <div class="main-profile">
                <div class="main-form1">
                    <form class="form">
                        <div class="form-img-name">
                            <div class="form-fio">
                                <img class="form-img-user" src="photos/Ellipse 1.svg" alt="">
                                <div class="form-nickname">
                                    <p class="fio">Иван Иванов Иванович</p>
                                    <p class="nickname">lilvodnik</p>
                                </div>
                            </div>
                        </div>
                        <div class="blocksfriends">
                            <div class="friendsearchblock">
                                <div class="friendsearchfirst">
                                    <p class="myfriends">
                                        Мои друзья
                                    </p>
                                    <input type="text" class="friendssearch" placeholder="Поиск друзей">
                                </div>
                                <div class="friendslist">
                                    <div class="form-fio-friend">
                                        <img class="form-img-friend" src="photos/Ellipse 1.svg" alt="">
                                        <div class="form-nickname-friend">
                                            <p class="fio-friend">Иван Иванов Иванович</p>
                                            <p class="nickname-friend">lilvodnik</p>
                                        </div>
                                    </div>
                                    <div class="form-fio-friend">
                                        <img class="form-img-friend" src="photos/Ellipse 1.svg" alt="">
                                        <div class="form-nickname-friend">
                                            <p class="fio-friend">Иван Иванов Иванович</p>
                                            <p class="nickname-friend">lilvodnik</p>
                                        </div>
                                    </div>
                                    <div class="form-fio-friend">
                                        <img class="form-img-friend" src="photos/Ellipse 1.svg" alt="">
                                        <div class="form-nickname-friend">
                                            <p class="fio-friend">Иван Иванов Иванович</p>
                                            <p class="nickname-friend">lilvodnik</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="friendsacceptblock">
                                <p class="friendaccepttext">Заявки</p>
                                <div class="friendacceptblock">
                                    <div class="form-fio">
                                        <img class="form-img-accept" src="photos/Ellipse 1.svg" alt="">
                                        <div class="form-nickname-accept">
                                            <p class="fio-accept">Иван Иванов Иванович</p>
                                            <p class="nickname-accept">lilvodnik</p>
                                        </div>
                                    </div>
                                    <div class="friend-actions">
                                        <button class="accept-button">Добавить</button>
                                         <button class="reject-button">Отклонить</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>
    </section>
</body>
</html>