{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regist</title>
    <link rel="stylesheet" href="/static/restorePassword.css">
</head>
<body>
    <section class="add-password">
        <div class="password">
            <img src="/static/Vector 1.svg" alt="" class="background-img">
            <div class="password2">
                <p class="main-text">Восстановление пароля</p>
                <label for="" class="label-input"><input class="input" type="mail" id="mail-input" placeholder="Введите эл.почту" required></label>
                <p class="label-text">На вашу электронную почту было отправлено письмо с кодом</p>
                <p class="label-text-warning">Пользователя с такой почтой не существует</p>
                <label for="" class="label-input"><input class="input" type="mail" id="mail-input" placeholder="Введите код из сообщения" required></label>
                <a href="{% url 'users:addmailcorrect' %}" class="btn-next">Продолжить</a>
            </div>
        </div>

</body>
</html>